# first list the packages you wish to download from PyPI
git+https://github.com/TeachBooks/TeachBooks-Favourites
sphinx-tudelft-theme

# Now list the packages you want to download directly from GitHub
git+https://github.com/TeachBooks/Sphinx-Thebe
